/* src/components/Navbar.module.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  background: linear-gradient(135deg, #000 0%, #ffeb3b 100%);
  color: white;
  padding: 0.5rem 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar.scrolled {
  background-color: #ffeb3b; /* Change background color on scroll */
  color: #000; /* Change text color on scroll */
}

.navbar.scrolled .navLink {
  color: #000; /* Change text color on scroll */
}

.navbar.scrolled .navLink:hover {
  color: #ffeb3b;
  background-color: #000;
}

.navbarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 1rem; /* Bring the logo closer to the tabs */
}

.logoImage {
  height: 50px;
  width: auto;
}

.nav {
  display: flex;
  justify-content: center;
}

.navList {
  list-style: none;
  display: flex;
  flex-direction: row; /* Change to row for mobile view */
  align-items: center;
}

.navItem {
  margin: 0.5rem 1rem; /* Adjust margin to balance spacing */
}

.navLink {
  color: inherit; /* Use inherit to ensure the text color changes with the parent */
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navLink:hover {
  color: #000;
  background-color: #ffeb3b;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.menuToggle {
  display: none; /* Hide the toggle button */
}

@media (min-width: 768px) {
  .navList {
    flex-direction: row;
  }

  .navItem {
    margin: 0 1rem; /* Adjust margin to balance spacing */
  }

  .menuToggle {
    display: none;
  }
}
