.resumeSection {
    color: #007bff; /* Adjust color as needed */
    text-align: left; /* Adjust alignment as needed */
    margin-bottom: 20px; /* Example margin */
  }
  
  .resumeSection h2 {
    text-transform: uppercase;
    font-size: 1.5rem; /* Example font size */
    margin-bottom: 10px; /* Example margin */
  }
  